:root.one-light {
  --base00: "fafafa";
  --base01: "f0f0f1";
  --base02: "e5e5e6";
  --base03: "a0a1a7";
  --base04: "696c77";
  --base05: "383a42";
  --base06: "202227";
  --base07: "090a0b";
  --base08: "ca1243";
  --base09: "d75f00";
  --base0A: "c18401";
  --base0B: "50a14f";
  --base0C: "0184bc";
  --base0D: "4078f2";
  --base0E: "a626a4";
  --base0F: "986801";
}

:root.dracula {
  --base00: "282936";
  --base01: "3a3c4e";
  --base02: "4d4f68";
  --base03: "626483";
  --base04: "62d6e8";
  --base05: "e9e9f4";
  --base06: "f1f2f8";
  --base07: "f7f7fb";
  --base08: "ea51b2";
  --base09: "b45bcf";
  --base0A: "00f769";
  --base0B: "ebff87";
  --base0C: "a1efe4";
  --base0D: "62d6e8";
  --base0E: "b45bcf";
  --base0F: "00f769";
}
